/* primary stuff */
* {
  margin: 0px;
  padding: 0px;
}

.container-full {
  width: 100%;
  margin-top: 10px;
}

.container {
  width: 90%;

  margin-left: auto;
  margin-right: auto;
}

/* Navigation Area */

.header {
  width: 90%;

  height: 50px;

  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20%;
  height: 100%;
  text-align: center;
}
.logo-file {
  width: 100%;
  height: 90%;
  margin-top: 6px;
}
.menu {
  width: 80%;
  background-color: #272068;
  color: #fff;
}

.nav-ul {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
li {
  list-style: none;
  padding: 15px;
}

.slider {
  margin-top: 20px;
  height: 300px;
}

.content {
  width: 80%;
  height: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.single-post {
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
}
.post-image {
  width: 30%;
  height: 100%;
}
.post-content {
  width: 70%;
  height: 100%;
}
.post-content > p {
  padding: 20px;
}
.post-content > p > button {
  padding: 5px;
  border: none;
  border-radius: 3px;
}
.post-content > p > button:hover {
  background-color: red;
  color: #fff;
}
.latest-posts {
  margin-top: 5px;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
}
.lt-post {
  width: 33%;
  margin-bottom: 5px;
  margin-top: 10px;
  display: flex;
}
.lt-image {
  width: 30%;
}
.lt-content {
  width: 70%;
}
