/* primary stuff */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #ebecf0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Alegreya Sans', sans-serif;
}
img {
  border-radius: 2px;
}
.container-full {
  width: 100%;
}

.container {
  width: 90%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Area */

.header {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20%;
  height: 100%;
  text-align: center;
}
.logo-file {
  width: 100%;
  height: 90%;
  margin-top: 6px;
  cursor: pointer;
}
.menu {
  width: 80%;
  background-color: #272068;
  color: #fff;
}

.nav-ul {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.nav-ul li {
  list-style: none;
  padding: 15px;
  cursor: pointer;
}
/* main head and background slide */
.web-head {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: #272068;
}
.head {
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.slider {
  margin-top: 5px;
  height: 300px;
}

/* Content section Showing single latest and highlight 3 single post */
.content {
  width: 80%;
  height: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Top section of content where we will show single post image and content */
.single-post {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-image {
  width: 30%;
  height: 100%;
}
.post-content {
  width: 70%;
  height: 100%;
  font-size: 13px;
}
.post-content > p {
  padding: 10px;
}
.post-content > p > button {
  padding: 5px;
  border: none;
  border-radius: 3px;
  border: 1px solid rgb(201, 209, 212);
  margin: 5px;
  cursor: pointer;
}
.post-content > p > button:hover {
  background-color: red;
  color: #fff;
}

/* Lower section of content where we will show 3 latest posts */

.latest-posts {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}
.lt-post {
  height: 100%;
  width: 33%;

  display: flex;
}
.lt-image {
  height: 80%;
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.lt-content {
  height: 80%;
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 5px;
  cursor: pointer;
}
/* Videos broadCasting sections */
.vid-wrap {
  width: 100%;
  margin-top: 30px;
}

.vid-heading {
  text-align: center;
  margin-top: 10px;
}
.vid-heading > h3 {
  color: rgb(117, 130, 141);
  padding: 5px;
}

.video-sec {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 10px;
}

.vid {
  width: 28%;
  height: 200px;
  transition: all 1s;
  cursor: pointer;
}
.vid:hover {
  transform: scale(1.1);
}

/* Infographics sections */

.info {
  width: 100%;
  margin-top: 20px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info-head {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.slide-area {
  width: 60%;
  height: 80%;
}
.latest-info {
  width: 30%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single-info {
  width: 100%;
  height: 47%;
  margin-top: 0px;
}
/* Single Post & Page Area */
.single {
  margin-top: 30px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.single-section {
  width: 65%;
  height: 100%;
  padding: 10px;
}
.img-sec {
  width: 100%;
  height: 50%;
}
.data-sec {
  width: 100%;
  height: 50%;
  margin-top: 20px;
}
.pad {
  padding-left: 7px;
}
.recent-section {
  width: 30%;
  height: 100%;
}
.recent-data {
  padding: 10px;
  width: 85%;
  margin-left: auto;
}

.recent-img {
  margin-top: 10px;
  cursor: pointer;
}
/* Comment Form */
.comment {
  width: 100%;

  padding: 5px;
  background-color: #fff;
}
form {
  width: 100%;
}
.input-group {
  width: 100%;
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
textarea {
  width: 100%;
  border-radius: 5px;
}
input {
  width: 30%;
  height: 30px;
}
button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #0274be;
}

/* Footer section */

.footer {
  width: 100%;

  background-color: #d3d3d2;
  display: flex;
  justify-content: space-around;
}
.foot-section {
  width: 18%;
  height: 200px;
}

.foot-content {
  margin: 20px;

  text-align: center;
}

.foot-content > ul > li {
  list-style: none;
  font-size: 12px;
  padding-top: 10px;
  color: #072f5f;
  cursor: pointer;
}
.social {
  display: flex;
  cursor: pointer;
}

/* Media Queries section */

/* Media Queries for top menu */

@media only screen and (max-width: 1000px) {
  .nav-ul {
    width: 100%;
  }
  .nav-ul li {
    padding: 15px;
    padding-top: 15px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-ul li {
    padding: 10px;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 750px) {
  .nav-ul li {
    padding: 10px;
    padding-top: 15px;
  }
  .nav-ul li {
    padding: 14px;
    padding-top: 15px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .logo {
    width: 40%;
    height: 100%;
    text-align: center;
  }
  .menu {
    width: 100%;
  }
  .nav-ul {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .nav-ul li {
    padding: 5px;
    padding-top: 50px, 5px, 50px, 5px;
    font-size: 10px;
  }
}

/* Media Queries Content display Area */
@media only screen and (max-width: 850px) {
  .content {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .single-post {
    width: 100%;
    height: 50%;
    display: block;
  }
  .post-image {
    width: 90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .post-content {
    width: 90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .post-content > p {
    padding-left: 0px;
  }
}
/* Media queries for Latest posts section */

@media only screen and (max-width: 850px) {
  .latest-posts {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .lt-post {
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .lt-image {
    height: 80%;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .lt-content {
    height: 30%;
    width: 60%;
    margin-top: 5px;

    padding-right: 10px;
    padding-left: 5px;
    cursor: pointer;
  }
}

/* Media Queries for Video or BroadCast Sections */
@media only screen and (max-width: 700px) {
  .video-sec {
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .vid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

/* Media queries for infographics */
@media only screen and (max-width: 1024px) {
  .info {
    height: 480px;
  }
}
@media only screen and (max-width: 900px) {
  .info {
    height: 430px;
  }
}

@media only screen and (max-width: 850px) {
  .info {
    height: 400px;
  }
}

@media only screen and (max-width: 750px) {
  .info {
    height: 360px;
  }
  .info-head {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .info {
    height: 320px;
  }
}
@media only screen and (max-width: 450px) {
  .info {
    height: 290px;
  }
}
@media only screen and (max-width: 350px) {
  .info {
    height: 260px;
  }
}
/* Media queries for Single post or Page */
@media only screen and (max-width: 650px) {
  .single {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .single-section {
    width: 100%;
  }

  .recent-section {
    width: 100%;
  }
  .recent-data {
    padding: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Media queries for footer */

@media only screen and (max-width: 700px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .foot-section {
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}
